disabled_plugins.txt
eval
idea14.key
ijs
port
options/dimensions.xml
options/feature.usage.statistics.xml
options/jdk.table.xml
options/recentProjects.xml
options/remote-server-client-libraries.xml
options/remote-servers.xml
options/security.xml
options/statistics.application.usages.xml
options/usage.statistics.xml
options/web-browsers.xml
options/window.manager.xml
settingsRepository
tasks
