# Git bundles
*.bundle

*.kdbx
*.license
*.pwd
consoles/.history/
consoles/db/
disabled_plugins.txt
disabled_update.txt
eval
event-log-metadata/
extensions/com.intellij.database/data/aggregators/
extensions/com.intellij.database/data/extractors/
extensions/com.intellij.database/schema/
extensions/com.intellij.database/schema.layouts/
extensions/com.intellij.javaee/orm.generators/
extensions/com.intellij.javaee.jpa/
idea*.key
ijs/
jdbc-drivers/
migration/
options/actionSummary.xml
options/applicationLibraries.xml
options/cachedDictionary.xml
options/completion*.xml
options/dataSources*.xml
options/dataSources/*.xml
options/dataSources/*/storage_v2/
options/dimensions.xml
options/dslActivation.xml
options/dslActivationStatus.xml
options/eclipseCodeFormatter.xml
options/feature.usage.statistics.xml
options/features.usage.statistics.xml
options/FeatureSuggester.xml
options/find.recents.xml
options/find.xml
options/ide-features-trainer.xml
options/jdk.table.xml
options/markdown_navigator.local.xml
options/options.xml
options/other.xml
options/pluginAdvertiser.xml
options/proxy.settings.pwd
options/recentProjects.xml
options/remote-server-client-libraries.xml
options/remote-servers.xml
options/runner.layout.xml
options/security.xml
options/shownTips.xml
options/statistics.*.xml
options/stubIndex.xml
options/trusted-paths.xml
options/updates.xml
options/usage.statistics.xml
options/web-browsers.xml
options/web-types-npm-loader.xml
options/window.manager.xml
options/window.state.xml
options/windows/maven.wrapper.mapping.xml
options/wsl.distributions.xml
options/wslRecentConnections.xml
pdb.pwd
plugins/
port
port.lock
proxy_config
scratches.xml
scratches/
settingsRepository/
sonarlint/storage/
ssl/
tasks/
terminal/history/
updatedBrokenPlugins.db
user.web.token
workspace/*.xml
